<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book and Review</title>
</head>
<body>
    <h1>Add a New Book Title and a Review:</h1>

    <form action="">
        <label>Book Title:</label> <input type="text">
        Author: Choose from the list Or add a new author: <input type="text">
        <label>Review:</label> <textarea name="review_txt" id="" cols="30" rows="10"></textarea>
        <label>Rating: </label> <input type="range">

    </form>
</body>
</html>